<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!--add code about new servlet-->

    <servlet>
      <servlet-name>anyName</servlet-name><!-- give any name-->
      <servlet-class>zhz.week2.demo.HelloWorldServlet</servlet-class><!--package +name of servlet class -->
    </servlet>
    <servlet-mapping>
        <servlet-name>anyName</servlet-name>
        <url-pattern>/hello</url-pattern><!--url must start with / -->
    </servlet-mapping>

    <servlet>
        <servlet-name>LifecycleServlet</servlet-name>
        <servlet-class>zhz.week3.demo.LifecycleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LifecycleServlet</servlet-name>
        <url-pattern>/life</url-pattern>
        <!--/life ==LifeCycleServlet== com.zhz.week3.demo.LifeCycleServlet-->
    </servlet-mapping>


<!--    <servlet>-->
<!--        <servlet-name>JDBCServlet</servlet-name>-->
<!--        <servlet-class>zhz.week4.demo.JDBCServlet</servlet-class>-->
<!--    </servlet>-->
<!--    <servlet-mapping>-->
<!--        <servlet-name>JDBCServlet</servlet-name>-->
<!--        <url-pattern>/jdbc</url-pattern>-->
<!--    </servlet-mapping>-->
    <servlet>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <servlet-class>zhz.week4.demo.ConfigDemoServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ConfigDemoServlet</servlet-name>
        <url-pattern>/config</url-pattern>
    </servlet-mapping>




    <listener>

    <listener-class>zhz.week6.demo.JDBCServletContextListener</listener-class>

</listener>



    <context-param>

    <param-name>name</param-name>

    <param-value>zhanghuazhi</param-value>

</context-param>


    <context-param>

    <param-name>student-id</param-name>

    <param-value>2019211001001029</param-value>

</context-param>


    <context-param>

    <param-name>driver</param-name>

    <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>

</context-param>


    <context-param>

    <param-name>url</param-name>

    <param-value>jdbc:sqlserver://localhost:1433;databaseName=userdb</param-value>

</context-param>


    <context-param>

    <param-name>Username</param-name>

    <param-value>sa</param-value>

</context-param>


    <context-param>

    <param-name>Password</param-name>

    <param-value>123456</param-value>

</context-param>
    <welcome-file-list>
        <welcome-file>home</welcome-file>

    </welcome-file-list>


    <!-- x= 5,a= x so we can say a=5
     so /hello==com.zhz.week2.demo.HelloWorldServlet
     -->

</web-app>